*{
    margin: 0px;
    padding: 0px;
}
body{
    
}
.top{
width: 100%;
height: 120px;
background-color: silver;
display: flex;
align-items: center;
}
img.logoo{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 10px;
}
nav{
    margin-left: 60%;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin-right: 50px;
    color: darkslategrey;
}
li>a{
    color: black;
    text-decoration: none;
}
li>a:hover{
    color: red;
    font-weight: 1000;
}
img.body{
    height: 700px;
    width: 100%;
}
.about{
    height: 400px;
    background-color: antiquewhite;
    margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}

.name>p>img{
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin-left: 50%;
}
.name>h1{
    margin-top: 130px;
    margin-left: 200px;
}
.name>h3{
    margin-top: 10px;
    margin-left: 200px;

